<p><strong>{{ user }},</strong></p>
<p>Your {{ app }} account has been activated! You can now join the conversation by <a href="{{ login_link }}">clicking here</a>.</p>

<p>If you wish to change your login credentials or personalize the chat client, you may do so by logging in at: <a href="{{ account_link }}">{{ account_link }}</a></p>

<p>Regards,<br />the Staff</p>